.center-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.pure-form-stacked input{
    display: inline-block !important;
 }

 .pure-button-primary{ 
    border-radius: 4px !important;
    background-color : #B05500 !important;
}


.pure-button-txt{
    border-radius: 4px !important;
    background-color : white !important;
    color : #B05500 !important;
  }