/* Page de connexion */

.center-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.pure-form-stacked input{
    display : inline-block !important;
    margin: 0.4em 0 !important;
 }

 .pure-form fieldset{
    padding: 1em 0.75em !important;
 }

 .pure-button-primary{ 
    border-radius: 4px !important;
    background-color : #B05500 !important;
    margin: 0.75em;
}

.pure-button-txt{
    border-radius: 4px !important;
    background-color : white !important;
    color : #B05500 !important;
}

.pure-button-txt:hover{
    background-image: none !important;
}

.logo-acc{
    max-width: 60% !important;
    display: inline-block !important;
}